@using Microsoft.Extensions.Localization
@using PolovniAutomobiliFromScratch
@inject IStringLocalizer<SharedResource> Localizer

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>@Localizer["Email"]</label>
            <p class="form-control">test@test.gmail.com</p>
        </div>
        <div class="form-group col-md-6">
            <label>@Localizer["Mobile"]</label>
            <p class="form-control">060-000-000</p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>@Localizer["Adress 1"]</label>
            <p class="form-control">Cika Pere 1</p>
        </div>
        <div class="form-group col-md-6">
            <label>@Localizer["Adress 2"]</label>
            <p class="form-control">Cika Pere 2</p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>@Localizer["Zip"]</label>
            <p class="form-control">19000</p>
        </div>
        <div class="form-group col-md-6">
            <label>@Localizer["City"]</label>
            <p class="form-control">Zajecar</p>
        </div>
    </div>

</form>